<div
  class="p-large bg-white rounded-medium border-medium border-style-solid border-primary shadow-md"
>
  <h2 class="font-bold">{{ data.title }}</h2>
  <p class="mb-small text-base">{{ data.message }}</p>
  <div class="flex flex-col sm:flex-col md:flex-row gap-large p-medium">
    <button class="btn btn-danger" (click)="onCancel()">
      {{ data.cancelText || 'Cancelar' }}
    </button>
    <button class="btn btn-primary-light" (click)="onConfirm()">
      {{ data.confirmText || 'Confirmar' }}
    </button>
  </div>
</div>
