<!-- Layout general -->
<div class="min-h-screen flex flex-col bg-white text-black">
  <!-- Header: en móvil se apila; en sm+ va en fila -->
  <header
    class="bg-primary h-medium sm:h-small text-white p-large gap-medium flex flex-col sm:flex-row sm:items-center sm:justify-between"
  >
    <div class="text-heading font-bold">NEOS UI TEMPLATE</div>

    <div class="flex flex-col gap-x-small gap-y-xsmall sm:flex-row sm:items-center sm:gap-small">
      @if (user$ | async; as user) {
        <span class="text-small">👤 {{ user.nombre }} {{ user.apellido }}</span>
        <button class="btn btn-secondary" (click)="logout()">Cerrar sesión</button>
      }
    </div>
  </header>

  <!-- Cuerpo: en móvil columna (sidebar primero, contenido debajo); en sm+ fila -->
  <main class="flex flex-col sm:flex-row grow p-medium gap-medium">
    <!-- Sidebar: 100% ancho en móvil; ancho fijo en sm+  -->
    <aside
      class="w-auto flex flex-col gap-small rounded-medium border-style-solid border-primary p-medium gap-large bg-primary text-white sm:basis-sidebar md:basis-sidebar-md lg:basis-sidebar-lg sm:w-medium"
    >
      <div class="text-small font-bold">📁 Menú</div>
      <a class="btn btn-info text-center" routerLink="welcome" routerLinkActive="active">
        Dashboard
      </a>
      <a class="btn btn-info text-center" routerLink="components" routerLinkActive="active">
        Componentes
      </a>
      <a class="btn btn-info text-center" routerLink="/layout/documentation" routerLinkActive="active">
        Documentación
      </a>
      <a class="btn btn-info text-center" routerLink="/layout/settings" routerLinkActive="active">
        Ajustes
      </a>
    </aside>

    <!-- Contenido principal -->
    <section class="w-full flex flex-col gap-medium">
      <router-outlet></router-outlet>
    </section>
  </main>

  <footer class="bg-primary text-white text-center p-small">© 2025 NEOS UI TEMPLATE</footer>
</div>
