@use "../abstracts/tokens" as t;
@use "../abstracts/breakpoints" as bp;

body {
    font-family: "Inter", "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg);
}

header{
    background-color: var(--color-bg);
    color: var(--color-text);
}

aside{
    background-color: var(--color-bg);
    color: var(--color-text);
}

section{
    background-color: var(--color-bg);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--color-text);
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h1 { font-size: 2rem;}
h2 { font-size: 1.75rem;}
h3 { font-size: 1.5rem }
h4 { font-size: 1.25rem }
h5 { font-size: 1.12rem }
h6 {font-size: 1rem }

p{
    margin-bottom: 1rem;
    color: var(--color-text);
}

strong{
    color: var(--color-text);
}

a{
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: var(--color-accent);
    }
}

// Ajustes responsive con mixin 'mq'
@include bp.mq(md) {
    body {
        font-size: 18px;
    }

    h1 { font-size: 2.5rem;}
    h2 { font-size: 2rem;}
    h3 { font-size: 1.75rem;}
}